<div class="login-container container m-5 p-5 m-auto w-75">
    <h2>Login</h2>
    <form
        class="d-flex flex-column gap-4"
        #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" name="email" ngModel required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" name="password" ngModel required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
        </div>
    </form>
    <p>New User? <a routerLink="/register">Register here</a></p>
</div>
