<article
class="min-vh-100 w-100 p-4 "
>
    <section
    class="d-flex flex-column justify-content-center align-items-center gap-4"
    >
        <h2
        class=""
        >Add new location</h2>
        <form
            class="d-flex flex-column justify-content-start align-items-center gap-4 w-100"
            [formGroup]="addHousingLocationForm" (submit)="submitHousingLocation()"
        >
            <div
                class="inputContainer d-flex flex-row w-100 gap-3 align-items-center"
            >
                <label
                    class="w-25 text-end"
                    for="name">Name</label>
                <input
                    class="w-75"
                    id="name" type="text" formControlName="name">
            </div>

            <div
                class="inputContainer d-flex flex-row w-100 gap-3 align-items-center"
            >
                <label
                    class="w-25 text-end"
                    for="photo">Photo</label>
                <input
                    class="w-75"
                    #imageInput
                       id="photo"
                       type="file"
                       accept="image/*"
                       formControlName="photo"
                       (change)="addImageFile(imageInput)">
                <div *ngIf="addHousingLocationForm.value.photoLink">
                    <img
                        class="previewImage"
                        [src]="addHousingLocationForm.value.photoLink" alt="">
                </div>
            </div>

            <div
                class="inputContainer d-flex flex-row w-100 gap-3 align-items-center"
            >
                <label
                    class="w-25 text-end"
                    for="city">City</label>
                <input
                    class="w-75"
                    id="city" type="text" formControlName="city">
            </div>

            <div
                class="inputContainer d-flex flex-row w-100 gap-3 align-items-center"
            >
                <label
                    class="w-25 text-end"
                    for="state">State</label>
                <input
                    class="w-75"
                    id="state" type="text" formControlName="state">
            </div>

            <h2>About location</h2>

            <div
                class="inputContainer d-flex flex-row w-100 gap-3 align-items-center"
            >
                <label
                    class="w-25 text-end"
                    for="availableUnits">Available Units</label>
                <input
                    class="w-75"
                    id="availableUnits" type="number" formControlName="availableUnits">
            </div>

            <div
                class="d-flex flex-column w-100"
            >
                <div
                    class="d-flex flex-row gap-5 justify-content-center"
                >
                    <label
                        class="w-50 text-nowrap text-end"
                        for="wifi" >Wi-Fi</label>
                    <input
                        class="w-50 h-75"
                        type="checkbox" id="wifi" formControlName="wifi">
                </div>
                <div
                    class="d-flex flex-row gap-5 justify-content-center"
                >
                    <label
                        class="w-50 text-end"
                        for="laundry">Laundry</label>
                    <input
                        class="w-50 h-75"
                        type="checkbox" id="laundry" formControlName="laundry">
                </div>
            </div>

            <div>
                <button
                    class="btn btn-outline-primary"
                    type="submit">Add location</button>
            </div>

        </form>
    </section>
</article>
