input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 10%;
  height: 40px;
  position: absolute;
    top: 18px;
    right: 480px;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}


.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination-container .page-indexes {
    display: flex;
    gap: 0.5rem;
}

.pagination-container .page-indexes button {
    padding: 0.5rem;
    cursor: pointer;
}

.pagination-container .page-indexes button .active {
    color: #007bff;
    font-weight: bold;
}
